asgiref==3.7.2
dj-database-url==2.1.0
Django==5.0.3
factory-boy==3.3.0
Faker==24.0.0
inflection==0.5.1
iniconfig==2.0.0
packaging==23.2
pluggy==1.4.0
pytest==8.0.2
pytest-django==4.8.0
pytest-factoryboy==2.6.1
python-dateutil==2.9.0.post0
python-decouple==3.8
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.10.0
